
<div class="card card-nav-tabs card-plain mt-5">
    <div class="card-header card-header-danger">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="row">
          <div class="col col-md-8 col-sm-12 px-4 mt-3">
          <%= link_to new_admin_tour_path, class: "nav-link btn btn-sm btn-outline-primary col-md-5 col-sm-12" do %>
              <i class="fas fa-plus-circle"></i>
              Create a Tour
          <% end %>
          </div>
          <div class="col col-md-4 col-sm-12">
            <div class="nav-tabs-navigation mt-3">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs text-right" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#active" data-toggle="tab">
                            <i class="fas fa-stopwatch"></i>
                            Active
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#inactive" data-toggle="tab">
                            <i class="far fa-stop-circle"></i>
                            Inactive
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="card-body card-white ">
        <div class="tab-content text-center">
            <div class="tab-pane active" id="active">
                

<div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h6 class="card-title text-left muted-text">Active Booking</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <tr class="text-left"><th>
                        Title
                      </th>
                      <th>
                        Category
                      </th>
                      <th>
                        Promo
                      </th>
                      <th>
                        Schedule
                      </th>
                      <th>
                        Inventory
                      </th>
                      <th class="text-right">
                        Action
                      </th>
                    </tr></thead>
                    <tbody>
                      <tr>
                        <td class="text-left">
                          Boracay Scape
                        </td>
                        <td>
                          Philippines
                        </td>
                        <td>
                          10%
                        </td>
                        <td>
                          20 Jan - 21 Jan 2020
                        </td>
                        <td>
                          20 Left
                        </td>
                        <td class="text-right">
                          <i class="fas fa-pencil-alt text-info"></i>
                          &nbsp;
                          <i class="fas fa-trash-alt text-warning"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


            </div>
            <div class="tab-pane" id="inactive">
                <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h6 class="card-title text-left muted-text">Inactive Booking</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <tr><th>
                        Title
                      </th>
                      <th>
                        Category
                      </th>
                      <th>
                        Promo
                      </th>
                      <th>
                        Schedule
                      </th>
                      <th>
                        Inventory
                      </th>
                      <th class="text-right">
                        Action
                      </th>
                    </tr></thead>
                    <tbody>
                      <tr>
                        <td>
                          Dakota Rice
                        </td>
                        <td>
                          Niger
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td>
                          Oud-Turnhout
                        </td>
                        <td class="text-right">
                          <i class="fas fa-pencil-alt text-info"></i>
                          &nbsp;
                          <i class="fas fa-trash-alt text-warning"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

            </div>

            </div>
        </div>
    </div>
  </div>