.BannerImage {
  background-image: image-url('paris.jpg');
  height: 100vh;
  width: 50vw;
  object-fit: cover;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8
  filter: alpha(opacity=50); // IE 5-7
  background-size: cover !important;
  // background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  // justify-content: center;
  // align-items: center;
  color: white;
 }
 
 .BannerImageSearch {
  background-image: image-url('map.jpg');
  height: 100vh;
  width: 50vw;
  object-fit: cover;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8
  filter: alpha(opacity=50); // IE 5-7
  background-size: cover !important;
  // background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  // justify-content: center;
  // align-items: center;
  color: white;
 }